<html>
	<head>
		<title>Request Example</title>
	</head>

	<body>

		<p>PLEASE INPUT ID FOR CITIES IN BELOW TO GET WEATHER e.g.</p>
		<p>	LONDON: <b>2643743</b>, &nbsp NAIROBI: <b>184742</b>, &nbsp MOSCOW: <b>4399153</b>, DENVER-US: <b>4853799</b>, </br> FRANKFURT: <b>3220968</b>, &nbsp JAPAN: <b>1861060</b>, &nbsp CAIRO: <b>5717316</b>, &nbsp RIO-BRASIL: <b>3451190</b> </p>
		<form method="POST" action="/temperature">
			City : <input type= "text" name="city_id">
			<input type="submit">
		</form>	
	</body>
</html>